.about-links a {
    transition: 0.5s;
}


.about-links a:hover {
    background-color: #343a40;
    ;
    color: #8B6508 !important;
}

img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 1s; /* Ajoute une transition pour l'animation */
    transform-style: preserve-3d; /* Préserve la transformation 3D */
    animation: spin 5s linear infinite; /* Applique l'animation de rotation en continu */
}

/* Définir l'animation de rotation */
@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}