/* suppression de l'ancre h2 */

a.anchorjs-link {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    gap: 2vw;
}

div.column {
    flex: 1;
    padding: 2rem;
    background-color: lightgrey;
    border-radius: 0.5rem;
    box-shadow: 30 10px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: auto;
    height: auto;
    flex-grow: 1;
}

div.column h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #333;
}

div.column ul {
    list-style-type: none;
    padding: 0;
}

div.column ul li {
    margin-bottom: 1rem;
}

div.column ul li strong {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
}

.column:hover {
    background-color: #343a40;
    /* Couleur de fond au survol */
    transition: 0.5s;
    /* Transition douce pour le survol */
    cursor: pointer;
    color: white;
}

.column:hover h2,
.column:hover strong {
    color: #8B6508 !important;
    /* Couleur de fond au survol */
}


@media (min-width: 1200px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 4vw;
    }
}


